.form-control {
    width: 100%;
}

/*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/
  html{
    scroll-behavior: smooth;
}

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }



  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 10%;
    left: 50%;
    width: 45px;
    height: 45px;
      border-radius: 50%;
    border: 1px solid #575757;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }

  .btn-primary:hover{
      color: #82ae46;
  }
.view-details:hover{
color: #fff;
}

/*---------------------------------------*/
.overlay-img{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		opacity: .4;
		width: 50%;
        background: #82ae46;
        width: 100%;
	}
p,a,button{
    cursor: pointer;
}


.styleP{
    color: #82ae46;
    font-style: italic;
    font-family: serif;
    font-size: 30px;

}
.cover-sec{
    background-image: url("../images/bg_1.jpg");
    background-size: cover;
    height: 400px;
    position: relative;
}
.cover-sec-inner{
    position: absolute;
    top: 30%;
    left: 40%;
    color: #fff;
    font-size: 20px;
}
.cover-sec-inner p,.cover-sec-inner h2{
    text-transform: uppercase;

}
body{
    text-transform: capitalize;
}
/* p{
    color:rgb(162, 158, 158);
} */
.containe{
    margin-top: 50px;
    margin-bottom: 50px;
}
h6,p{
text-transform: capitalize;
}
.navbar1{
 
 position: fixed;
 top:0
}
.navbar-collapse{
    margin-right: 127px;
}
.navContainer{
    position: fixed;
    z-index:2000 ;
    margin: 0;
    padding: 0;
}
/* .nav{
     margin: 0;
    padding: 0;
} */
a{
    text-decoration: none;
    
}
a:hover{
    text-decoration: none;
}
.top-about:hover{
color: #fff;
}
.h2, h2 {
    font-size: 3rem;
    text-transform: capitalize;
}
/* START HEADER STYLE */
.navbar-nav{
    margin-left: 220px
}
.head-title{
    background-color: #82ae46;
    color: #fff;
    padding-bottom: 4px ;
    z-index: 3000;

}
.navbar-light .navbar-brand{
    color:#82ae46 ;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}
.navbar-light .navbar-brand:hover{
   color: #333;
}
.bg-light {
    background-color:#fff!important;
}


.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 18px;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #82ae46;
}


@media only screen and (max-width: 1200px){
    .bg-light {
        background-color: black !important;
    }
   .navbar-brand{
    margin-left: 0px;  
 }
    .navbar-light .navbar-nav .nav-link {
        color: azure !important;
       
    }
    .navbar-light .navbar-toggler {
        color: rgba(240, 33, 33, 0.5);
        border-color: rgba(221, 21, 21, 0.1);
    }
    .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: #82ae46;
        border: 1px solid #82ae46;
        border-radius: .25rem;
    }
    .navbar-light .navbar-brand:hover {
        color:#fff;
    }

 }

 .dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color:#82ae46 ;
}


/* END HEDER STYLE */

/* ------------------------------------------------------------------------------------------- CAROSOAL SECTION  */
.btn-primary{
    background-color:#82ae46 ;
    border-radius: 40px;
    border: 1px solid #82ae46;
    text-transform: capitalize;
}
.btn-primary:hover{
    background-color: unset;
    border: 1px solid #82ae46;

}
h1{
    font-size: 155px;
    font-family: cursive;
}


@media only screen and (max-width: 1200px){
    h1,h2{
        font-size: 30px;
    }
 }

 /* -------------------------------------------------------------------------------------- SERVICES SECTION------------------------- */
 .sevice-icon {
    font-size: 40px;
    display: inline-block;
    width: 128px;
    height: 125px;
    border-radius: 50%;
    color: white;
    /* padding: 30px; */

}
.cericle {
    border: 3px solid rgba(255, 255, 255, 0.422);
    border-radius: 50%;
    display: inline-block;
    width: 100px;
    height: 100px;
    transform: translate(0%,11%);
}

.cericle i {
    font-size: 60px;
    transform: translate(-5%,26%);

}
.firset{
    background-color: #e4b2d6;
}
.seound{
    background-color: #dcc698;;

}
.thired{
    background-color: #a2d1e1;

}
.forth{
    background-color: #dcd691;

}
.sevice-icon:hover{
    background-color: #82ae46;
   
}
.contain{
    text-transform: capitalize;
}
.contain img{
    width: 100%;
    height: 250px;
    position: relative;
}
.overlay {
    position: absolute;
    opacity: 0;
    width: 92%;
    height: 94%;
    display: table;
    top: 0;
    left: 16px;
    background-color: rgba(000,000,000,0.5);
    text-align: center;
}
.overlay p
{
	display: table-cell;
	vertical-align: middle;
	font-size: 40px;
    color: #fff;
    font-family: cursive;
}
.contain:hover .overlay{
    transition: 2s;
    opacity: 1;
}

.contain  .btn-success{
    position: absolute;
    bottom: 16px;
    background-color:#82ae46;
    border: 1px solid #82ae46;
}

.grayP{
    color: #6c757d;
}
.shop:hover{
  color: #82ae46;

}



.modal-body img{
    width: 460px;
    height: 500px;
}

.modal-content{
    background-color: transparent;
}

.modal-header {

    border-bottom: 1px solid transparent;
   
}
.close {
    color: #fff;
}
.close:hover {
    color: #fff;
}
.modal-header .close {
    padding: 0rem;
    margin: 4rem -1rem -1rem auto;
}
@media only screen and (max-width: 1200px){
    .overlay{
        width: 95%;
    }
 }
 /* Start  Products section */
 .caption{
     padding-bottom: 40px;
 }
 .caption h6 {
    font-size: 30px;
    
}
.caption h1 {
    line-height: 2;
    font-size: 60px;
}
.caption p{
    line-height: 2;
    color: cadetblue;
}
.card{
    margin-bottom: 20px;
}
.img-wrapper img{
 width: 90%;
 height: 200px;
 transition: .5s;
}
.img-wrapper p{
    padding-top: 5px;
}
.discount{
    color: lightgray;
    text-decoration: line-through;
}


.header-wapper{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

   .btnAddToCart{
    background-color: #82ae46;
    color: #fff;
    border: 1px solid #82ae46;
    width: 100%;
    padding: 10px 0;
   }
   
   .rate{
       display: none;
       color: #fff;
       font-size: 20px;
        position: absolute;
       bottom: 10px;
       left:72px
   }
   .rate i{
       padding: 10px;
       background-color:#82ae46 ;
       border-radius: 50%;
      
   }
   .product-card:hover .rate {
    display: block;
}
.discountBtn{
    position: absolute;
    background-color: #82ae46;
    color: #fff;
    top: 0;
    left: 16px;
    border-radius: unset;
    padding: unset;

}
.discountBtn:hover{
    background-color: #82ae46;
}
/* Panner section  */
.panner{
    background-image: url("../images/bg_3.jpg");
    padding-bottom: 200px;
    padding-top: 200px;
 background-attachment: fixed;
}


.clock h2{
color: #333;
font-size: 22px;
}

.clock h4{
    text-transform: capitalize;
    color: #82ae46;
}
.clock{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin-left: 37%
}

.pranter img{
 width: 100%;
 height: 67px;
}
.pranter .row{
    justify-content: space-between
}

@media only screen and (max-width: 1200px){
    .pranter img{
        height: 110px;
       }
 }
 .customerP{
    text-align: justify; 
    color:gray ; 
    border-left: 2px solid #82ae46;
    padding: 10px;
 }
 /* -------------------------------------------------------------------------- */
.partners{
    text-align: center;
    padding: 80px 0;
}
.partners-header{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 60px;
}
.partners-header span{
    font-weight: bold;
}
.partners .fa{
    font-size: 75px;
    color: #d6d6d6;
    margin-bottom: 20px;
}
.partners .fa:hover{
    color: #82ae46;
    transition: .5s all;
    cursor: pointer;
}

/* -------------------------------------------------------------------------- */

 /* footer  */
 .subscribe{
     background-color: #f7f6f2 !important;
     justify-content: space-between;
     padding-top: 50px;
     padding-bottom: 50px;
     position: relative;
 }

 #arrow{
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 10px;
    color: #fff;
    background:#82ae46;
    padding: 21px 27px;
}
.form-control{
    width: 85%;
}
.btn-outline-success{
    background-color: #82ae46;
    color: #fff;
}
 @media only screen and (max-width: 1200px){
    
    .caption-subscribe{
        margin-left: 10px;
    }
  
    .offset-5{
        margin-left: 0px;
    }
 }

 .footer{
     padding-top: 50px;
     padding-bottom: 10px;
 }
 .footer p{
     color: #333;
 }
 .copyright{
     padding-top: 50px;
     padding-bottom: 50px;
 }
 @media only screen and (max-width: 1200px){
    .footer .row{
   
        text-align: center;
        margin-bottom: 0px;
       
    }
    .customer-person{
        margin-top: 30px;
    
    }
 }
 .back i{
     background-color: #f5f5f5;
     padding: 10px;
     border-radius: 50%;
 }
 .back>i:hover{
color: #fff;
background-color: #82ae46;
}
 .email{
    width: 335px;
    height: 48px;
    padding: 6px;
 }
 .searchBtn{
     background-color: #82ae46;
     padding: 12px 20px;
     border: 1px solid #82ae46;
     color: #fff;
     text-transform: capitalize;
     position: relative;
     right: 5px;
 }
.content-person{
    display: flex;
    justify-content: space-between;
}
.person img{
width: 150px;
height: 150px;
border-radius: 50%;
margin-bottom: 50px;
}


@media only screen and (max-width: 1200px){
.modal-body img{
    width: 438px;
}
}

/************************************** contact us ********************************* */
.contact-us-userinfo input,.contact-us-userinfo textarea{
    width: 500px;
    padding: 10px;
}

.contact-us-userinfo textarea{
    height: 150px;
}

/*-------------------------------- CART TEMPLATE --------------------------------------------*/



.btn-increase,.btn-decrease{
    padding: 6px 12px;
    background-color: #82ae46;
    border: 1px solid #82ae46;
    color: #fff;
    }
    .quntity{
        border: 1px solid lightgray;
        display: inline-block;
        padding: 6px 32px;
        margin-top: 100px;
    }
    .cover-sec-quntity{
        margin-left: 90px;
        margin-top: 121px;
    }
    .product-sec p{
        font-weight: bold;
        margin-top: 100px;
    }
    .product-sec span{
        color: #82ae46;
    }
    .table .thead-dark th{
        background-color: #505962;
        border-color: #505962;
    }
    .total-price,.price-cart,.btn-danger{
        margin-top: 100px;
        text-transform: capitalize;
    }
   
    .cover-sec-img{
        width: 180px;
        height: 180px;
       }
    @media only screen and (max-width: 1200px){
        .cover-sec-img{
        width: 120px;
        height: 120px;
       }
       
       
        .total-price,.price-cart,.ti-close{
            display: inline-block;
            margin-top: 80px;
        }
        /* .total-price{
            margin-left: -40px;
        } */
        .quntity{
            padding: 6px 16px;
            margin-top: 40px;
    
        }
        .btn-increase,.btn-decrease{
    
            padding: 6px 15px;
            position: relative;
    
            }
           
            .btn-increase {
                top: 40px;
            }
            .btn-decrease{
                padding: 6px 17px;
    
                top:-16px
            }
            
        }
        .table td, .table th{
            vertical-align: middle;
        }
    
        @media only screen and (max-width: 767px){
         .cart-table {
        overflow: auto;
    }
    .total-content{
        margin-left: 14px;
    }
        }
    
    
    
        .total-content{
            border: 1px solid lightgray;
            padding: 20px 80px;
            text-transform: capitalize;
        }
        .total-price-checkout-cart{
            display: flex;
            justify-content: space-between;
            width: 300px;
            border-bottom: 1px solid lightgray;
        }
        .total-price-number{
            color: #82ae46;
        }
        a h4{
            color: #171717;
        }
/*-------------------------------- product TEMPLATE --------------------------------------------*/



   .list-product ul{
        width: 60%;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    }
   .list-product ul li{
        text-transform: capitalize;
        color: #82ae46;
        font-family: sans-serif;
        cursor: pointer;
    }
    .list-product .activeLi{
        background-color: #82ae46;
        border-radius: 4px;
        padding: 6px 24px;
        color: #fff;
    }

    /*-------------------------------- About us TEMPLATE --------------------------------------------*/
    .about-us-panner {
       
        background-image: url("../images/bg_3.jpg");
        padding-bottom: 59px;
        padding-top: 97px;
        margin-bottom: 100px;
        color: #82ae46;
    }
.about-us{
    background-color: #f7f6f2 !important;
}
    .content-about-us-vedio img{
          width: 100%;
        height: 600px;
        margin-top: 100px;
        position: relative;
    }
    .content-about-us-discription{
        margin-top: 200px;
    }

    .servies-background{
        background-color: #f7f6f2 !important;
        padding: 50px;
        position: relative;
    }

  
    @media only screen and (max-width: 1200px){

    .content-about-us-vedio img {
        width: 100%;
        height: 445px;
    }
    .list-product ul li{
        margin-left: 10px;
    }

    .content-about-us-discription{
        margin-top: 60px;
    }
}

.fa-play{
    display: inline-block;
    position: absolute;
    right: 50%;
    top: 40%;
    color: #fff;
    padding: 30px;
    border-radius: 50%;
    background-color: #82ae46;

}


    /*-------------------------------- product TEMPLATE --------------------------------------------*/

    .contact-us{
        padding-bottom: 100px;
    }
    .box-item{
        margin-top: 100px;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
        background-color: #fff;
        height:120px;
        padding: 10px;
        color: gray;
    }
    
    .box-item-left{
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
        background-color: #fff;
        color: gray;
       padding: 100px;
       margin-top: 50px;
    } 
    
    .box-item-left input {
        padding: 14px;
        margin-bottom: 16px;
        width: 100%;
        text-transform: capitalize;

    }
    .box-item-left
    {
        height:712px
    }
    
    .box-item-left input:nth-of-type(4){
        padding-bottom: 200px;
    }
    .footer-contact-us{
        position: relative;
    }
    .footer-contact-us .top{
top:-80px    }
@media only screen and (max-width: 1200px){
    .offset-2{
        margin: 0;
    }
    .box-item-left input {
        width: 300px;
        margin-left: -60px;

    }
   .top{
    top: 189px;
   }
    .top-about{
        top: 974px
        }
    .top-about:hover{
        color: #fff;
        
    }
    .total-content{
        margin-left: 14px;
    }
    
}
.fa-heart{
    color: #82ae46;
}
.card-title,.price{
    font-weight: normal;
}

.total-content{
    border: 1px solid lightgray;
    padding: 20px 80px;
    text-transform: capitalize;
}
.total-price-checkout-cart{
    display: flex;
    justify-content: space-between;
    width: 300px;
    border-bottom: 1px solid lightgray;
}
.total-price-number{
    color: #82ae46;
}
a h4{
    color: #171717;
}

/***************************** blog begain ***********************************/
.blog-text {
	color: #82ae46;
text-transform: uppercase;
font-weight: bold;
}
.blog-text span{
	color:gray;
	text-transform: capitalize;
font-weight: normal;
}

.blog-sidebar .search-form {
	margin-bottom: 55px;
}

.blog-sidebar .search-form h4 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 12px;
}

.blog-sidebar .search-form form {
	position: relative;
}

.blog-sidebar .search-form form input {
	height: 46px;
	width: 100%;
	border: 2px solid #ECECEC;
	padding-left: 20px;
	font-size: 18px;
	color: #b2b2b2;
}

.blog-sidebar .search-form form button {
	position: absolute;
	right: 0;
	top: 0;
	color: #ffffff;
	background: #252525;
	border: 1px solid #252525;
	height: 46px;
	padding: 0 15px;
	cursor: pointer;
}

.blog-sidebar .blog-catagory {
	margin-bottom: 41px;
}

.blog-sidebar .blog-catagory h4 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 14px;
}

.blog-sidebar .blog-catagory ul li {
	list-style: none;
}

.blog-sidebar .blog-catagory ul li a {
	font-size: 16px;
	color: #636363;
	line-height: 39px;
}

.blog-sidebar .recent-post {
	margin-bottom: 55px;
}

.blog-sidebar .recent-post h4 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 28px;
}

.blog-sidebar .recent-post .recent-blog .rb-item {
	overflow: hidden;
	margin-bottom: 30px;
	display: block;
}

.blog-sidebar .recent-post .recent-blog .rb-item .rb-pic {
	float: left;
}

.blog-sidebar .recent-post .recent-blog .rb-item .rb-pic img {
	height: 80px;
	width: 80px;
}

.blog-sidebar .recent-post .recent-blog .rb-item .rb-text {
	display: table;
	padding-left: 16px;
}

.blog-sidebar .recent-post .recent-blog .rb-item .rb-text h6 {
	color: #252525;
	line-height: 24px;
	font-weight: 700;
	margin-bottom: 10px;
}

.blog-sidebar .recent-post .recent-blog .rb-item .rb-text p {
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #82ae46;
	letter-spacing: 2px;
	line-height: 20px;
}

.blog-sidebar .recent-post .recent-blog .rb-item .rb-text p span {
	color: #b2b2b2;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 0;
}

.blog-sidebar .blog-tags h4 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 20px;
}

.blog-sidebar .blog-tags .tag-item a {
	display: inline-block;
	font-size: 16px;
	color: #636363;
	padding: 5px 15px;
	border: 1px solid #ebebeb;
	margin-right: 5px;
	margin-bottom: 9px;
	border-radius: 2px;
}

.blog-sec-item img {
    width: 320px ;
    height: 320px;
}

/* ***************************************checkout screan *********************************/



label{
    display: block;
}

input{
    width: 340px;
    padding: 10px;
    height: 50px;
}
select{
    width: 730px;
    padding: 10px;
    height: 50px;
    color: gray;
    text-transform: capitalize;
}
.user-info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
input::placeholder{
    color: gray;
}
.user-info input[type="radio"], input[type="checkbox"]{
    width: unset;
    height: unset;
    margin: 5px;
}
.user-info .radio{
    justify-content: space-evenly;
}


.checkout-content-price{
    width: 600px;
    border: 1px solid lightgray;
    color: gray;
    margin-top: 75px;

}
.checkout-content-price .btn-primary{
    margin: 20px 60px;
    padding: 16px 40px;
}


@media only screen and (max-width: 1200px){
    .user-info{
        display: block;
    }
    input{
        width: 455px;
    }
    select{
        width: 455px;
    }
   
    .offset-3 {
        margin-left: 0px;
    }
    .checkout-content-price{
        width: 400px;
    }
    .checkout-sec input,.checkout-sec select{
        width: 450px;

    }
    .checkout-content-price-part1{
      display: none;
    }
    .user-info input[type="radio"], input[type="checkbox"]{
        width: unset;
        height: unset;
        margin: 5px;
    }
    .form-control {
        width: 100%;
    }
  
}
@media only screen and (max-width: 1200px){
.checkout-sec input, .checkout-sec select{
    width: unset;
    margin-top: -12px;
    margin-right: 10px;
}
input[type="checkbox"]{
    margin-top: 10px;

}
}

@media only screen and (max-width: 499px){
    .slider h1, .slider h2{
        font-size: 16px;
    }
  
    .slider h1 .mt-4{
        margin-top: 0.5rem!important;

    }
    .offset-3 {
        margin-left: 0;
    }
    .list-product .activeLi{
       
        padding: 4px 16px;
    }
   
    input[type="radio"], input[type="checkbox"]{
        width: unset;
        height: unset;
        margin: 5px;
    }
    .subscribe input{
        width: 220px;
    }
    .content-about-us-vedio img {
        width: 100%;
        height: 445px;
    }
    .list-product ul{
        margin-left: 10%;
    }
    .list-product ul li{
        margin-left: 10px;
    }
    .checkout-offset .offset-1{
        margin-left: 0px;
    }
    .navbar-collapse .navbar-nav{
        margin-left: 20%;
    }
    .checkout-content-price{
        width: 300px;
       
    
    }
    .box-item-left input {
      
        width: 100%;
       

    }
    .offset-3{
        margin-left: 0;
    }

   
    .checkout-sec input,.checkout-sec select{
        width: 290px;

    }
    #arrow{
       
        padding: 13px 15px;
    }
    .cover-sec-inner{
        top: 40%;
        left: 10%;
        
    }
    .searchBtn {
        padding: 11px 16px;
        top: -1px;       
    }
   
    .modal-body img {
        width: 260px;
        height: 260px;
        margin-left: 10px;
    }
    .partners {
        display: none;
    }
    .checkout-content-price-part1{
        display: none;
      }
      .checkout-sec input, .checkout-sec select{
        width: unset;
        margin-bottom: 5px;
        margin-right: 10px;
    }
    input[type="checkbox"]{
        margin-top: 10px;
    
    }
    .form-control {
        width: 100%;
    }
}


option{
    text-transform: capitalize;
}
.shop-now-cotact-us{
    background-color: #82ae46;
    color: #f7f6f2;
    border-color: #82ae46;
    text-transform: capitalize;
}
.shop-now-cotact-us:hover{
    background-color: #fff;
    color: #82ae46;
    border-color: #fff;
}